Django
django-allauth
django-extensions
psycopg2
pyOpenSSL
Werkzeug
gunicorn
djangorestframework
djangorestframework-simplejwt
django-filter
django-defender
Pillow
django-summernote
channels
channels_redis
daphne
celery


# for jupyter notebook - include django-extensions
jupyter
ipython
